.DS_Store
###> symfony/framework-bundle ###
.env
/var/
/vendor/
/public/bundles
/public/css
/public/gallery
/public/images
/public/js
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

.idea
.idea/*
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
/beaver-install/
/node_modules/
/symfony.lock
/src/Migrations/
error_log