<div class="r-content">
    <div class="grid_1 no-mobile">&nbsp;</div>
    <form class="dinamic grid_5 m_grid_4" id="contacto">
        <input type="text" placeholder="Nombre" class="empty" name="nombre" id="nombre" value="" data-index="1" required/>
        <input type="email" placeholder="Email" class="empty hidden" name="email" id="email" value="" data-index="2" required/>
        <textarea placeholder="Mensaje" class="empty hidden" name="mensaje" id="mensaje" data-index="3" required></textarea>
        <input type="submit" class="animated" value="Enviar" />
        <div class="grid_1 no-mobile">&nbsp;</div>
        <label class="grid_10 fadeInDown animated form-message">¡Gracias por escribirme!, me pondré en contacto contigo con la mayor brevedad posible.</label>
        <div class="grid_1 no-mobile">&nbsp;</div>
    </form>
    <div class="grid_5 m_grid_4">
        <div class="contact_info">
            <h2>Buenos Aires, Argentina</h2>
            <a href="tel:+5491130361238" rel="nofollow" title="+54 9 11-30361238">+54 9 11-30361238</a>
            <h2>Tunja, Colombia</h2>
            <a href="tel:+5491130361238" rel="nofollow" tel="+54 9 11-30361238">+54 9 11-30361238</a>
            <br /><br />
            <a class="m_grid_4" href="emailto:contacto@inkstudio.com.co" rel="nofollow">contacto@inkstudio.com.co</a>
            <a class="m_grid_4" href="emailto:inkstudiocompany@gmail.com" rel="nofollow">inkstudiocompany@gmail.com</a>
            <ul>
                <li>
                    <a href="skype:leonardo.suarez83?call" target="_blank" class="flaticon-chat23" rel="nofollow">leonardosuarez.83</a>
                </li>
                <li>
                    <a href="#none" class="flaticon-whatsapp" rel="nofollow">+54 9 11-30361238</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid_1 no-mobile">&nbsp;</div>
</div>