<div class="r-content content-fluid">
    <div class="title">
        <h2>Nuestros Clientes</h2>
        <span class="grid_12 no-spaces">Algunas experiencias hechas realidad</span>
    </div>

    <div class="grid_1 no-mobile">&nbsp;</div>
    <div class="grid_10 m_grid_4">
        <ul class="grid_12 m_grid_4">
            {% for client in clients %}
                <li class="grid_3 m_grid_2">
                    <img src="{{ client.logotype }}" alt="{{ client.name }}" />
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="grid_1 no-mobile">&nbsp;</div>
</div>