<button class="burger-icon no-desktop menuOpen animated" onclick="menuIn()">
    <span></span>
</button>

<nav class="animated" id="menu">
    <div class="backlogo"></div>
    <div class="backlogo2"></div>
    <a href="#homepage" title="Ink Studio, Buenos Aires - Argentina, Bogotá, Tunja - Colombia, Diseño y Desarrollo Web, Optimización SEO" class="logotipo">
        <img src="{{ asset('images/isotipo.png') }}" alt="Logotipo Ink Studio Company" />
    </a>
    <div class="r-content no-mobile no-tablet">
        <a href="#contacto">CONTACTO</a>
        <a href="#acerca-de">ACERCA DE</a>
        <a href="#clientes">CLIENTES</a>
        <a href="#servicios">SERVICIOS</a>
        <a href="#portfolio">PORTFOLIO</a>
    </div>
</nav>

<div class="mobile-menu no-destop">
    <a href="#homepage" class="homeMobile" onclick="menuOut()">
        <img src="{{ asset('images/logotipo.png') }}" alt="Logotipo Ink Studio Company" />
    </a>
    <a href="#portfolio" class="menu-item" onclick="menuOut()">
        PORTFOLIO
    </a>
    <a href="#servicios" class="menu-item" onclick="menuOut()">
        SERVICIOS
    </a>
    <a href="#clientes" class="menu-item" onclick="menuOut()">
        CLIENTES
    </a>
    <a href="#acerca-de" class="menu-item" onclick="menuOut()">
        ACERCA DE
    </a>
    <a href="#contactanos" class="menu-item" onclick="menuOut()">
        CONTACTO
    </a>

    <div class="phones">
        <a href="skype:leonardo.suarez83?call" target="_blank">
            <i class="fab fa-skype"></i>leonardosuarez.83
        </a>
        <a href="#none" class="flaticon-whatsapp">
            <i class="fab fa-whatsapp"></i>+54 9 11-30361238
        </a>
    </div>


    <ul class="social">
        <li>
            <a href="https://www.facebook.com/inkstudiocompany" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="http://instagram.com/inkstudiocompany" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="http://www.twitter.com/inkstudiocompany" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </ul>
</div>