<div class="r-content content-fluid">
    <div class="title">
        <h2 class="grid_12 no-spaces">Servicios</h2>
    </div>

    <div class="servicesWrapper no-desktop no-tlandscape">
        <div class="glide__wrapper">
            <ul class="service_carrusel glide__track">
                <li class="glide__slide">
                    <h3 >UX Experiencia de Usuario</h3>
                    <p>
                        Analizamos, planeamos y diseñamos una experiencia de usuario completamente
                        agradable y funcional, permitiendo aumentar la calidad de tu proyecto a través
                        de nuestros diseños.
                    </p>
                </li>

                <li class="glide__slide">
                    <h3>Diseño & Desarrollo WEB</h3>
                    <p>
                        Soluciones Web a la medida de tus necesidades.
                        Nos guiamos por las últimas tendencias en desarrollo web
                        y mobile para brindarte la mejor solución.
                    </p>
                </li>

                <li class="glide__slide">
                    <h3>SEO</h3>
                    <p>
                        Optimizamos el código fuente y de tu sitio web,
                        ayudando de esta manera que pueda ser posicionado
                        eficientemente por los principales motores de búsqueda,
                        tales como google, yahoo y bing, entre otros.
                    </p>
                </li>

                <li class="glide__slide">
                    <h3>Marketing Digital</h3>
                    <p>
                        Creamos piezas de email marketing y landingpages únicas, acorde a las necesidades de tu compañía y de tu proyecto.
                    </p>
                </li>
            </ul>
        </div>


        <div class="paginador glide__bullets"></div>
    </div>

    <div class="no-mobile no-tportrait">
        <ul class="service_carrusel animated glide__wrapper">
            <li class="grid_3 t_grid_4 m_grid_4">
                <h3 >UX Experiencia de Usuario</h3>
                <p>
                    Analizamos, planeamos y diseñamos una experiencia de usuario completamente
                    agradable y funcional, permitiendo aumentar la calidad de tu proyecto a través
                    de nuestros diseños.
                </p>
            </li>

            <li class="grid_3 t_grid_4 m_grid_4">
                <h3>Diseño & Desarrollo WEB</h3>
                <p>
                    Soluciones Web a la medida de tus necesidades.
                    Nos guiamos por las últimas tendencias en desarrollo web
                    y mobile para brindarte la mejor solución.
                </p>
            </li>

            <li class="grid_3 t_grid_4 m_grid_4">
                <h3>SEO</h3>
                <p>
                    Optimizamos el código fuente y de tu sitio web,
                    ayudando de esta manera que pueda ser posicionado
                    eficientemente por los principales motores de búsqueda,
                    tales como google, yahoo y bing, entre otros.
                </p>
            </li>

            <li class="grid_3 t_grid_4 m_grid_4">
                <h3>Marketing Digital</h3>
                <p>
                    Creamos piezas de email marketing y landingpages únicas, acorde a las necesidades de tu compañía y de tu proyecto.
                </p>
            </li>
        </ul>

        <ul class="paginador"></ul>
    </div>
</div>
