<div class="r-content content-full">
    <nav class="navbar grid_12 t_grid_8 m_grid_4">
        <a href="#works" class="no-tablet no-mobile">PORTFOLIO</a>
        <a href="#services" class="no-tablet no-mobile">SERVICIOS</a>
        <a href="#customers" class="no-tablet no-mobile">CLIENTES</a>
        <a href="#aboutus" class="no-tablet no-mobile">ACERCA DE</a>
        <a href="#contact" class="no-tablet no-mobile">CONTACTO</a>
        <button class="glyph-icon flaticon-menu55 no-desktop menuOpen" onclick="menuIn()"></button>
    </nav>

    <div class="grid_3 no-tablet no-mobile">&nbsp;</div>
    <div class="grid_6 t_grid_8 m_grid_4 logotipo">
        <img src="{{ asset('images/logotipo.png') }}" alt="ink studio company, diseño y desarrollo web freelancer" />
    </div>
    <div class="grid_3 no-tablet no-mobile">&nbsp;</div>

    <a class="start wow shake m_grid_4" href="#home" rel="nofollow"
       data-wow-delay="1s" data-wow-duration="1s">
        <i class="far fa-arrow-alt-circle-down"></i>
    </a>

</div>