<div class="r-content content-full">
    <nav class="navbar grid_12 t_grid_8 m_grid_4">
        <a href="#portfolio" class="no-tablet no-mobile">PORTFOLIO</a>
        <a href="#servicios" class="no-tablet no-mobile">SERVICIOS</a>
        <a href="#clientes" class="no-tablet no-mobile">CLIENTES</a>
        <a href="#acerca-de" class="no-tablet no-mobile">ACERCA DE</a>
        <a href="#contactanos" class="no-tablet no-mobile">CONTACTO</a>
    </nav>

    <div class="grid_3 no-tablet no-mobile">&nbsp;</div>
    <div class="grid_6 t_grid_8 m_grid_4 logotipo">
        <img src="{{ asset('images/logotipo.png') }}" alt="ink studio company, diseño y desarrollo web freelancer" />
    </div>
    <div class="grid_3 no-tablet no-mobile">&nbsp;</div>

    <a class="start wow shake m_grid_4" href="#homepage" rel="nofollow"
       data-wow-delay="1s" data-wow-duration="1s">
        <i class="row-icon down"></i>
    </a>

</div>