.mobile-menu{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #66CCFF;
  height: 100%;
  width: 100%;
  margin-left: -100%;
  z-index: 9999;
}

.mobile-menu .homeMobile{ height: 45vh; display: block; margin-top: -18%; } .homeMobile img{ height: 100%;}
.mobile-menu{ color: #FFFFFF; font-size: 3em !important; text-align: center; padding-top:20%;  }
.mobile-menu a.menu-item,
.mobile-menu a.menu-item:visited{ text-align: center; margin-top: .5vh; font-weight: 700 !important; letter-spacing: .2em;  font-size: 4vh; outline: none; text-decoration: none; color: #FFFFFF; width: 100%; display: block;}

.mobile-menu ul{ list-style: none; padding: 0; width: auto; overflow: auto; text-align: center; margin: 20px auto 5px auto; }

.mobile-menu ul li{ float: left; }

.mobile-menu ul li a{ color: #FFFFFF; outline: none; text-decoration: none;  }
.mobile-menu ul li a:before{ color: #FFFFFF; margin-right: 10px; }

.mobile-menu div.phones{ border-bottom: 1px solid #FFFFFF; padding: 0 0 1vh 0; margin-top: 15px;}
.mobile-menu ul.social{ overflow: visible; max-width: 91px; }

.mobile-menu div.phones a{ min-width: 50%; display: block; margin: 1vh auto 0 auto; color: #FFF !important; }
.mobile-menu div.phones a.flaticon-chat23:before{ color: #0099CC; outline: none; text-decoration: none; margin-right: 5px; }
.mobile-menu div.phones a.flaticon-chat23{ color: #0099CC; outline: none; text-decoration: none;  }
.mobile-menu div.phones a.flaticon-whatsapp:before{ color: #16a085; outline: none; text-decoration: none; margin-right: 5px; }
.mobile-menu div.phones a.flaticon-whatsapp{ color: #16a085; outline: none; text-decoration: none; }