<!DOCTYPE html>
<html class="fsvs" lang="es">
    {% include 'partials/header.html.twig' %}
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
